<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 관리</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/tailwind.output.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="/js/init-alpine.js"></script>
    <script src="/js/authentication.js"></script>
  </head>
  <body>
    <!-- 헤더-->
    <div th:insert="~{common/fragments/admin-header :: header}"></div>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
    <!-- 사이드바 -->
      <div th:insert="~{common/fragments/admin-sidebar :: sidebar}"></div>
    <!-- 메인 -->
      <div class="flex flex-col flex-1 w-full">
        <!-- 헤더 -->
        <header id="header"></header>

        <!-- 테이블 시작 -->
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="flex my-6 text-2xl">
            <h2
              class="font-semibold text-gray-700 dark:text-gray-200"
            >
              커뮤니티 관리
            </h2>
            </div>
            <!-- With avatar -->
          <div class="flex">
            <h4 th:text="|총 ${communityList.totalElements}개|"
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
            </h4>
            <div class="flex" style="margin-left: auto">
              <div class="relative mr-5">
                <button id="change-btn" style="height: 37px;" class="px-4 mr-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        onclick="deleteCommunity()"
                >
                  선택 삭제
                </button>
              </div>
              <div class="relative mr-1">
                <select id="filter" class="form-select text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple" aria-label="Default select example">
                  <option selected th:selected="${filter == 'number'}" value="number">번호</option>
                  <option th:selected="${filter == 'title'}" value="title">제목</option>
                  <option th:selected="${filter == 'writer'}" value="writer">작성자</option>
                </select>
              </div>
              <div class="relative w-56 max mr-1 focus-within:text-purple-500"
                   style="margin-left: auto; margin-bottom: 10px;" id="searchDiv">
                <div class="absolute inset-y-0 flex items-center pl-2">
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                  type="text"
                  placeholder="검색어를 입력해주세요."
                  aria-label="Search"
                  id="keyword"
                />
                <input type="hidden" id="hidden" name="hidden" th:value="${keyword}">
              </div>
              <div class="relative">
                <button style="height: 37px;" class="px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        id="search-bnt"
                  > 검색
                </button>
              </div>
            </div>
          </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table  style="width: 100%; table-layout: fixed;" class="whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-5 py-3 text-sm" style="width: 5%"><input type="checkbox" id="selectAll"></th>
                      <th class="px-4 py-3 text-center" style="width: 10%">번호</th>
                      <th class="px-4 py-3 text-center" style="width: 25%">제목</th>
                      <th class="px-4 py-3 text-center" style="width: 15%">작성자</th>
                      <th class="px-4 py-3 text-center" style="width: 15%">좋아요수</th>
                      <th class="px-4 py-3 text-center" style="width: 10%">조회수</th>
                      <th class="px-4 py-3 text-center" style="width: 10%">신고횟수</th>
                      <th class="px-4 py-3" style="width: 10%">Action</th>
                    </tr>
                  </thead>
                  <!-- 반복되는 테이블 -->
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <tr th:if="${!communityList.isEmpty()}" th:each="community : ${communityList}" class="text-gray-700 dark:text-gray-400" id="main">
                      <td class="px-5 py-3" style="width: 5%">
                        <div class="flex items-center text-sm">
                          <input type="checkbox" class="checkbox" th:value="${community.id}">
                        </div>
                      </td>
                      <td class="px-5 py-3 text-center text-sm " style="width: 10%" th:text="${community.id}"></td>
                      <td class="px-4 py-3" style="width: 25%">
                        <div class="text-center">
                          <a class="inline-flex text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                             th:onclick="|location.href='@{/admin/communities/{communityId} (communityId=${community.id})}'|">
                            <p class="font-semibold" th:text="${community.title}"></p>
                          </a>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%" th:text="${community.writer}"></td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%">
                        <span th:if="${community.likeCnt} < 1000" th:text="${community.likeCnt}+'회'"></span>
                        <span th:unless="${community.likeCnt} < 1000" th:text="${#numbers.formatInteger(community.likeCnt, 3, 'COMMA') + '회'}"></span>
                      </td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%">
                        <span th:if="${community.viewCnt} < 1000" th:text="${community.viewCnt}+'회'"></span>
                        <span th:unless="${community.viewCnt} < 1000" th:text="${#numbers.formatInteger(community.viewCnt, 3, 'COMMA') + '회'}"></span>
                      </td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 10%">
                        <span th:if="${community.reportCnt} < 1000" th:text="${community.reportCnt}+'회'"></span>
                        <span th:unless="${community.reportCnt} < 1000" th:text="${#numbers.formatInteger(community.reportCnt, 3, 'COMMA') + '회'}"></span>
                      </td>
                      <td class="px-4 py-3 text-sm text-center" style="width: 10%">
                        <div class="flex text-center space-x-4 text-sm" id="update-button">
                          <button
                                  class="flex items-center justify-between text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                  onclick="deleteCommunity()"
                          > 삭제
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>

              <div th:unless="${!communityList.isEmpty()}" class="py-3 text-center text-sm font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
                >
                <span class="col-span-2">내역이 존재하지 않습니다.</span>
              </div>

              <div th:if="${!communityList.isEmpty()}"
                class="py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
                >
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex mt-4 sm:mt-auto sm:justify-center">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center"
                        th:with="
                      maxPage=${communityList.pageable.pageSize},
                      start=${(communityList.number/ maxPage) * maxPage + 1},
                      end=(${(communityList.totalPages == 0) ? 1 : (start + (maxPage - 1) < communityList.totalPages ? start + (maxPage - 1) : communityList.totalPages)})">
                      <!-- 첫번째 페이지로 이동 -->
                      <li>
                        <button
                          class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                          aria-label="Previous"
                          th:onclick="|javascript:navigateToPage(0)|"
                        >
                          <svg
                            aria-hidden="true"
                            class="w-4 h-4 fill-current"
                            viewBox="0 0 20 20"
                          >
                            <path
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                      <!-- 페이지 표시 -->
                      <li th:each="page: ${#numbers.sequence(start, end)}">
                        <button th:text="${page}" th:onclick="|javascript:navigateToPage(${page} - 1)|"
                          class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                        >
                        </button>
                      </li>
                      <!-- 마지막 페이지로 이동 -->
                      <li>
                        <button
                          class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                          aria-label="Next"
                          th:onclick="|javascript:navigateToPage(${communityList.totalPages - 1})|"
                        >
                          <svg
                            class="w-4 h-4 fill-current"
                            aria-hidden="true"
                            viewBox="0 0 20 20"
                          >
                            <path
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </span>
              </div>
            </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script>
    // 클릭 이벤트
    $(document).ready(function() {
      // Enter key event handler
      $('#keyword').keypress(function (event) {
        if (event.which === 13) { // Enter key code
          searchCommunities();
        }
      });
    });

      $('#search-bnt').click(function () {
        searchCommunities();
      });

      function searchCommunities() {
        let filter = encodeURIComponent($('#filter').val());
        let keyword = encodeURIComponent($('#keyword').val());

        window.location.href = '/admin/communities?filter=' + filter + '&keyword=' + keyword;
      }

      // 페이지 이동
      function navigateToPage(page) {
        let filter = $('#filter').val();
        let keyword = $('#keyword').val();
        let hidden = $('#hidden').val();

        if (hidden != null) {
          filter = encodeURIComponent(filter);
          hidden = encodeURIComponent(hidden);
          location.href = '/admin/communities?page=' + page + '&filter=' + filter + '&keyword=' + hidden;
        } else if (keyword != null) {
          filter = encodeURIComponent(filter);
          keyword = encodeURIComponent(keyword);
          location.href = '/admin/communities?page=' + page + '&filter=' + filter + '&keyword=' + keyword;
        } else {
          location.href = '/admin/communities?page=' + page;
        }
      }

      // 체크 박스 선택
      $("#selectAll").click(function () {
        if ($("#selectAll").prop("checked")) {
          $(".checkbox").prop("checked", true)
        } else {
          $(".checkbox").prop("checked", false)
        }
      });

      $(".checkbox").click(function () {
        if ($(".checkbox").prop("checked").length !== $(".checkbox").length) {
          $("#selectAll").prop("checked", false)
        } else {
          $("#selectAll").prop("checked", true)
        }
      });

      // 선택 삭제
      async function deleteCommunity() {
        let selectedItems = [];

        $(".checkbox:checked").each(function () {
          let id = $(this).val();
          selectedItems.push({id: id});
        });

        if (selectedItems.length > 0) {
          const accessToken = localStorage.getItem("accessToken");
          const headers = {
            'Authorization': `Bearer ${accessToken}`,
            'Content-Type': 'application/json'
          };
          // 선택된 상품의 상태값 변경 요청
          try {
            const response = await fetch('/admin/communities/delete-list', {
              method: 'POST',
              headers: headers,
              body: JSON.stringify(selectedItems)
            });

            if (response.ok) {
              alert('삭제되었습니다.');
              window.location.href = "/admin/communities";
            } else if (response.status === 401 || response.status === 403) {
              const reissueResponse = await fetch('/reissue', {
                method: 'POST',
                credentials: 'same-origin' // 쿠키를 보내기 위해 필수
              });

              if (reissueResponse.ok) {
                const reissuedData = await reissueResponse.json();
                localStorage.setItem('accessToken', reissuedData.accessToken);
                await deleteCommunity(); // 원래 요청을 다시 시도
              } else {
                alert('토큰 재발급 실패');
              }
            }
          } catch (error) {
            alert("오류 발생");
          }
        }
      }
  </script>
</html>
