<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 관리</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/tailwind.output.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../../../js/init-alpine.js"></script>
  </head>
  <body>
    <!-- 헤더-->
    <div th:insert="~{common/fragments/admin-header :: header}"></div>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
    <!-- 사이드바 -->
      <div th:insert="~{common/fragments/admin-sidebar :: sidebar}"></div>
    <!-- 메인 -->
      <div class="flex flex-col flex-1 w-full">
        <!-- 헤더 -->
        <header id="header"></header>

        <!-- 테이블 시작 -->
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <div class="flex my-6 text-2xl">
            <h2
              class="font-semibold text-gray-700 dark:text-gray-200"
            >
              주문 관리
            </h2>
            </div>
          <div class="flex mb-6" style="margin-left: auto">
              <button style="height: 30px" class="px-4 mr-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                      id="week"
              >
                1주일</button>
              <button style="height: 30px" class="px-4 mr-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                      id="month"
              >
                1달</button>
              <button style="height: 30px" class="px-4 mr-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                      id="3months"
              >
                3달</button>
            <div>
              <input class="fromDate text-gray-700 font-medium text-sm text-center"  type="date" style="height: 30px" th:value="${fromDate}">
                <span class="text-white">~</span>
              <input class="toDate text-gray-700 font-medium text-sm text-center"  type="date" style="height: 30px" th:value="${toDate}">
            </div>
          </div>
            <!-- With avatar -->
          <div class="flex">
            <h4 th:text="|총 ${orderList.totalElements}개|"
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
            </h4>
            <div class="flex" style="margin-left: auto">
              <div class="relative mr-5">
                <button id="change-btn" style="height: 37px;" class="px-4 mr-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    onclick="updateOrderStatus()"
                  >
                  주문상태 일괄 변경
                </button>
              </div>
              <div class="relative mr-1">
                <select id="filter" class="form-select text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple" aria-label="Default select example">
                  <option selected th:selected="${filter == 'orderNumber'}" value="orderNumber">주문번호</option>
                  <option th:selected="${filter == 'buyerName'}" value="buyerName">주문자명</option>
                  <option th:selected="${filter == 'orderStatus'}" value="orderStatus">주문상태</option>
                </select>
              </div>
              <div class="relative w-56 max mr-1 focus-within:text-purple-500"
                   style="margin-left: auto; margin-bottom: 10px;" id="searchDiv">
                <div class="absolute inset-y-0 flex items-center pl-2">
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <input
                  class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                  type="text"
                  placeholder="검색어를 입력해주세요."
                  aria-label="Search"
                  id="keyword"
                />
                <input type="hidden" id="hidden" name="hidden" th:value="${keyword}">
              </div>
              <div class="relative w-56 max mr-1 focus-within:text-purple-500"
                   style="margin-left: auto; margin-bottom: 10px; display: none;"
                   id="selectDiv">
                <select
                        class="w-full text-center font-medium text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                        type="text" aria-label="Search" id="selectOrderStatus" style="margin-left: auto"
                >
                  <option>-- 선택 --</option>
                  <option th:each="status : ${orderStatusList}"
                          th:value="${status}" th:text="${status.getStatus()}" th:selected="${status == orderStatus}">
                  </option>
                </select>
              </div>
              <div class="relative">
                <button style="height: 37px;" class="px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        id="search-bnt"
                  > 검색
                </button>
              </div>
            </div>
          </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table  style="width: 100%; table-layout: fixed;" class="whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-5 py-3 text-sm" style="width: 5%"><input type="checkbox" id="selectAll"></th>
                      <th class="px-4 py-3 text-center" style="width: 15%">주문번호</th>
                      <th class="px-4 py-3 text-center" style="width: 15%">주문일시</th>
                      <th class="px-4 py-3 text-center" style="width: 15%">상품명</th>
                      <th class="px-4 py-3 text-center" style="width: 15%">옵션정보</th>
                      <th class="px-4 py-3 text-center" style="width: 10%">주문자명</th>
                      <th class="px-4 py-3 text-center" style="width: 10%">주문상태</th>
                      <th class="px-4 py-3" style="width: 10%">Action</th>
                    </tr>
                  </thead>
                  <!-- 반복되는 테이블 -->
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <tr th:if="${!orderList.isEmpty()}" th:each="order : ${orderList}" class="text-gray-700 dark:text-gray-400" id="main">
                      <td class="px-5 py-3" style="width: 5%">
                        <div class="flex items-center text-sm">
                          <input type="checkbox" class="checkbox" th:value="${order.orderProductId}">
                        </div>
                      </td>
                      <td class="px-4 py-3" style="width: 15%">
                        <div class="text-center">
                          <a class="inline-flex text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                             th:onclick="|location.href='@{/admin/orders/{orderId}/modify-form (orderId=${order.id})}'|">
                            <p class="font-semibold" th:text="${order.orderNumber}"></p>
                          </a>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%" th:text="${#temporals.format(order.orderAt, 'yyyy-MM-dd HH:mm')}"></td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%" th:text="${order.productName}"></td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 15%" th:text="|${order.size} / ${order.color} ${order.quantity}개|">
                      <td class="px-4 py-3 text-center text-sm" style="width: 10%" th:text="${order.buyerName}"></td>
                      <td class="px-4 py-3 text-center text-sm" style="width: 10%">
                        <select
                                class="orderStatus text-center font-medium text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                                type="text" aria-label="Search"
                        >
                          <option selected th:each="status : ${orderStatusList}"
                                  th:value="${status}" th:text="${status.getStatus()}" th:selected="${order.orderStatus == status}">
                          </option>
                        </select>
                      </td>
                      <td class="px-4 py-3 text-sm text-center" style="width: 10%">
                        <div class="flex text-center space-x-4 text-sm" id="update-button">
                          <button
                                  class="flex items-center justify-between text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                  onclick="updateOrderStatus()"
                          > 적용
                          </button>
                          <button
                                  class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                  aria-label="Edit"
                                  th:onclick="|location.href='@{/admin/orders/{orderId}/modify-form (orderId=${order.id})}'|"
                          >
                            <svg
                                    class="w-5 h-5"
                                    aria-hidden="true"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                            >
                              <path
                                      d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                              ></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>

              <div th:unless="${!orderList.isEmpty()}" class="py-3 text-center text-sm font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
                >
                <span class="col-span-2">구매내역이 존재하지 않습니다.</span>
              </div>

              <div th:if="${!orderList.isEmpty()}"
                class="py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
                >
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex mt-4 sm:mt-auto sm:justify-center">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center"
                        th:with="
                      maxPage=${orderList.pageable.pageSize},
                      start=${(orderList.number/ maxPage) * maxPage + 1},
                      end=(${(orderList.totalPages == 0) ? 1 : (start + (maxPage - 1) < orderList.totalPages ? start + (maxPage - 1) : orderList.totalPages)})">
                      <!-- 첫번째 페이지로 이동 -->
                      <li>
                        <button
                          class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                          aria-label="Previous"
                          th:onclick="|javascript:navigateToPage(0)|"
                        >
                          <svg
                            aria-hidden="true"
                            class="w-4 h-4 fill-current"
                            viewBox="0 0 20 20"
                          >
                            <path
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                      <!-- 페이지 표시 -->
                      <li th:each="page: ${#numbers.sequence(start, end)}">
                        <button th:text="${page}" th:onclick="|javascript:navigateToPage(${page} - 1)|"
                          class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                        >
                        </button>
                      </li>
                      <!-- 마지막 페이지로 이동 -->
                      <li>
                        <button
                          class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                          aria-label="Next"
                          th:onclick="|javascript:navigateToPage(${orderList.totalPages - 1})|"
                        >
                          <svg
                            class="w-4 h-4 fill-current"
                            aria-hidden="true"
                            viewBox="0 0 20 20"
                          >
                            <path
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </span>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script>
    // 클릭 이벤트
    $(document).ready(function() {
      // Enter key event handler
      $('#keyword').keypress(function(event) {
        if (event.which === 13) { // Enter key code
          searchOrders();
        }
      });

      $('#search-bnt').click(function() {
          searchOrders();
      });
      // 페이지 로딩 후 초기 체크
      if ($("#filter").val() === "orderStatus") {
        $("#searchDiv").css("display", "none");
        $("#selectDiv").css("display", "block");
      } else {
        $("#selectDiv").css("display", "none");
        $("#searchDiv").css("display", "block");
      }

      // 셀렉트박스 생성
      $("#filter").change(function() {
        if ($(this).val() === "orderStatus") {
          $("#searchDiv").css("display", "none");
          $("#selectDiv").css("display", "block");
        } else {
          $("#selectDiv").css("display", "none");
          $("#searchDiv").css("display", "block");
        }
      });

      let toDateValue = $(".toDate").val();
      if (toDateValue !== "") {
        $(".toDate").val(toDateValue);
      }

      let fromDateValue = $(".fromDate").val();
      if (fromDateValue !== "") {
        $(".fromDate").val(fromDateValue);
      }
    })

    // 조회 날짜
    $("#week").click(function () {
      setDateRange(7);  // 7일(1주일) 전
    });

    $("#month").click(function () {
      setDateRange(30);  // 30일(1달) 전
    });

    $("#3months").click(function () {
      setDateRange(90);  // 90일(3달) 전
    });

    function setDateRange(days) {
      let today = new Date();  // 오늘 날짜
      let pastDate = new Date(today.getTime() - days * 24 * 60 * 60 * 1000);  // 주어진 일수 전 날짜

      let toDate = formatDate(today);  // 오늘 날짜를 yyyy-MM-dd 형식으로 포맷
      let fromDate = formatDate(pastDate);  // 주어진 일수 전 날짜를 yyyy-MM-dd 형식으로 포맷

      $(".toDate").val(toDate);  // toDate 필드에 값을 설정
      $(".fromDate").val(fromDate);  // fromDate 필드에 값을 설정
    }

    function formatDate(date) {
      let year = date.getFullYear();
      let month = String(date.getMonth() + 1).padStart(2, '0');
      let day = String(date.getDate()).padStart(2, '0');

      return `${year}-${month}-${day}`;
    }

    function searchOrders() {
      let filter = encodeURIComponent($('#filter').val());
      let keyword = encodeURIComponent($('#keyword').val());
      let toDate = encodeURIComponent($('.toDate').val());
      let fromDate = encodeURIComponent($('.fromDate').val());
      let selectOrderStatus = $('#selectOrderStatus').val();
      if(selectOrderStatus !== '-- 선택 --') {
        keyword = selectOrderStatus;
      }

      window.location.href = '/admin/orders?filter=' + filter + '&keyword=' + keyword
              + '&fromDate=' + fromDate + '&toDate=' + toDate;
    }

    // 페이지 이동
    function navigateToPage(page) {
      let filter = $('#filter').val();
      let keyword = $('#keyword').val();
      let toDate = $('.toDate').val();
      let fromDate = $('.fromDate').val();
      let hidden = $('#hidden').val();
      let selectOrderStatus = $('#selectOrderStatus').val();

      if(selectOrderStatus !== '-- 선택 --') {
        keyword = selectOrderStatus;
      }

      if(hidden != null) {
        filter = encodeURIComponent(filter);
        hidden = encodeURIComponent(hidden);
        toDate = encodeURIComponent(toDate);
        fromDate = encodeURIComponent(fromDate);
        location.href = '/admin/orders?page=' + page + '&filter=' + filter + '&keyword=' + hidden + '&fromDate=' + fromDate + '&toDate=' + toDate;
      } else if(keyword != null){
        filter = encodeURIComponent(filter);
        keyword = encodeURIComponent(keyword);
        location.href = '/admin/orders?page=' + page + '&filter=' + filter + '&keyword=' + keyword + '&fromDate=' + fromDate + '&toDate=' + toDate;
      } else {
        location.href = '/admin/orders?page=' + page;
      }
    }

    // 체크 박스 선택
    $("#selectAll").click(function () {
      if($("#selectAll").prop("checked")) {
       $(".checkbox").prop("checked", true)
      } else {
        $(".checkbox").prop("checked", false)
      }
    });

    $(".checkbox").click(function () {
      if($(".checkbox").prop("checked").length !== $(".checkbox").length) {
        $("#selectAll").prop("checked", false)
      } else {
        $("#selectAll").prop("checked", true)
      }
    });

    // 상태 변경
    $(".orderStatus").change(function () {
      $(this).closest("tr").find(".checkbox").prop("checked",true);
    });

    // 상태 일괄변경
    function updateOrderStatus() {
      let selectedItems = [];

      $(".checkbox:checked").each(function () {
        let id = parseInt($(this).val());
        let status = $(this).closest("tr").find(".orderStatus").val();
        selectedItems.push({ id: id, status: status });
      });

      if (selectedItems.length > 0) {
        // 선택된 상품의 상태값 변경 요청
        $.ajax({
          url: "/admin/orders/change-status",
          type: "POST",
          contentType: "application/json",
          dataType: "text",
          data: JSON.stringify(selectedItems),
          success: function (response) {
            // 성공적으로 처리된 경우의 동작
            alert("변경되었습니다.")
            window.location.reload(); // 페이지 새로고침
          },
          error: function (error) {
            // 오류 처리 동작
            window.location.href = "/admin/error-page/500";
          }
        });
      }
    }
  </script>
</html>
