<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 등록</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../../../js/init-alpine.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../js/productValidation.js"></script>
    <style>
      /* label 스타일 조정 */
      .button {
        display: flex;
        justify-content: center;
      }
      label {
        cursor: pointer;
        font-size: 1em;
      }

      /* 기존 input 숨기기 */
      #mainImg {
        visibility: hidden;
      }

      #detailImg {
        visibility: hidden;
      }
    </style>
  </head>
  <body>

  <!-- 헤더-->
  <div th:insert="~{common/fragments/admin-header :: header}"></div>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
      <!-- 사이드바 -->
      <div th:insert="~{common/fragments/admin-sidebar :: sidebar}"></div>

      <div class="flex flex-col flex-1">
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              상품 등록
            </h2>

            <!-- General elements -->
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              상품 정보
            </h4>
            <div
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
            >
              <form th:action="@{/admin/products/create}" th:object="${productDto}" method="post">
              <label class="inline-block text-sm">
                <span class="text-gray-700 dark:text-gray-400">상품명<span class="dark:text-red-400"> *</span></span>
                <input
                  class="block w-64 mt-1 mr-3 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                  placeholder="상품명을 입력해주세요." th:field="*{name}"
                />
              </label>
                <label class="inline-block text-sm ml-3">
                   <span class="text-gray-700 dark:text-gray-400">가격<span class="dark:text-red-400"> *</span></span>
                   <input
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                           placeholder="ex)40000" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                           th:field="*{price}"
                   />
               </label>
                <span class="ml-2 text-gray-700 dark:text-gray-400 font-medium" style="font-size: 15px">원</span>
              <!-- 옵션 부분 --->
              <div id="items-container">
                <div style="float: right; margin-right: 30px;">
                  <!-- + 버튼 -->
                  <button id="add-button" class="inline-block text-sm w-12 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="button">+</button>
                  <!-- - 버튼 -->
                  <button id="remove-button" class="inline-block text-sm w-12 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="button">-</button>
                </div>
                <div id="item" class="item mt-4 text-sm">
                  <label class="inline-block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">색상<span class="dark:text-red-400"> *</span></span>
                    <input
                            class="color block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            placeholder="ex)black or 검정" type="text"
                    />
                  </label>
                  <label class="inline-block text-sm ml-3">
                    <span class="text-gray-700 dark:text-gray-400">사이즈<span class="dark:text-red-400"> *</span></span>
                    <select
                            class="size inline-block w-full mt-1 text-center text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                    >
                      <option selected>XS</option>
                      <option>S</option>
                      <option>M</option>
                      <option>L</option>
                      <option>FREE</option>
                    </select>
                  </label>
                  <label class="inline-block text-sm ml-3">
                    <span class="text-gray-700 dark:text-gray-400">판매수량<span class="dark:text-red-400"> *</span></span>
                    <input
                            class="stock block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            placeholder="ex)2000" type="text"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    />
                  </label>
                  <span class="ml-2 text-gray-700 dark:text-gray-400 font-medium" style="font-size: 15px">개</span>
                  <!--<label class="inline-block text-sm ml-3">
                    <span class="text-gray-700 dark:text-gray-400">가격<span class="dark:text-red-400"> *</span></span>
                    <input
                            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                            placeholder="ex)40000"
                    />
                  </label>-->
                </div>
              </div>
              <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                  판매상태 <span class="dark:text-red-400"> *</span>
                </span>
                <div class="mt-2">
                  <label
                    class="inline-flex items-center text-gray-600 dark:text-gray-400"
                  >
                    <input
                      type="radio" checked="checked" id="sale"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="판매중"
                      th:field="*{status}"
                    />
                    <span class="ml-2">판매중</span>
                  </label>
                  <label
                    class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400"
                  >
                    <input
                      type="radio" id="stop"
                      class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                      name="accountType"
                      value="판매중지"
                      th:field="*{status}"
                    />
                    <span class="ml-2">판매중지</span>
                  </label>
                  <label
                          class="inline-flex ml-6 items-center text-gray-600 dark:text-gray-400"
                  >
                    <input
                            type="radio" id="soldOut"
                            class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            name="accountType"
                            value="품절"
                            th:field="*{status}"
                    />
                    <span class="ml-2">품절</span>
                  </label>
                </div>
              </div>
              <!-- 카테고리 -->
              <div class="mt-4 text-sm">
                  <span class="block text-gray-700 dark:text-gray-400">
                    카테고리<span class="dark:text-red-400"> *</span>
                  </span>
                  <span class="inline-block w-64 mt-2 text-gray-700 dark:text-gray-400">
                    대분류
                  </span>
                  <span class="inline-block w-64 mt-2 ml-3 text-gray-700 dark:text-gray-400">
                    중분류
                  </span>
                <label class="flex mt-1 text-sm">
                  <!-- 대분류 -->
                  <select id="selectedCategory" th:attr="data-selected-value=${selectedValue}" class="inline-block w-64 mt-1 text-center text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  >
                    <option>-- 선택 --</option>
                    <option
                        th:each="category : ${categoryList}" th:if="${category.categoryId} == null"
                        th:value="${category.id}" th:utext="${category.name}"
                    >
                    </option>
                  </select>
                  <!-- 중분류 -->
                  <select id="selectedSubCategory" class="inline-block w-64 mt-1 ml-3 text-center text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                  >
                    <option th:value="null">-- 선택 --</option>
                  </select>
                </label>
              </div>
            </div>

            <!-- 대표 이미지 등록-->
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              대표 이미지 등록<span class="dark:text-red-400"> *</span>
            </h4>
            <div
              class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
            >
              <!-- 이미지 등록 -->
              <span class="block text-center text-gray-700 dark:text-gray-400" style="padding-top: 30px; padding-bottom: 15px;">
                최소 100px X 100px 사이즈의 이미지 파일을 등록해주세요.
              </span>
              <img id="uploadMainImg" src="../../../img/default-img.jpeg" style="width: 400px; padding-top: 20px;" class="rounded mx-auto d-block" alt="...">
              <div class="text-center" style="padding-top: 35px;">
                <label for="mainImg" class="dark:text-gray-400">
                  파일 업로드
                </label>
              </div>
                <input id="mainImg" class="px-4 py-3 bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-gray-400" type="file" accept="image/*"/>
            </div>

            <!-- 상세 이미지 등록 -->
            <h4
                    class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              상품 상세 이미지 등록<span class="dark:text-red-400"> *</span>
            </h4>
            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
            >
              <!-- 이미지 등록 -->
              <span class="block text-center text-gray-700 dark:text-gray-400" style="padding-top: 30px; padding-bottom: 15px;">
                최소 100px X 100px 사이즈의 이미지 파일을 등록해주세요.
              </span>
              <img id="uploadDetailImg" src="../../../img/default-img.jpeg" style="width: 400px; padding-top: 20px;" class="rounded mx-auto d-block" alt="...">
              <div class="text-center" style="padding-top: 35px;">
                <label for="detailImg" class="dark:text-gray-400">
                  파일 업로드
                </label>
              </div>
              <input id="detailImg" class="px-4 py-3 bg-white rounded-lg shadow-md dark:bg-gray-800 dark:text-gray-400" type="file" accept="image/*"/>
            </div>
            </form>
            <div class="col text-center">
              <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" id="submitBnt" type="submit">
                등록
              </button>
              &nbsp;&nbsp;&nbsp;
              <button th:onclick="|location.href='@{/admin/products}'|" class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                취소
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
<script th:inline="javascript">
  let categoryList = /*[[${categoryList}]]*/ [];
</script>
<script>
  $(document).ready(function() {
    let itemCount = 1; // 초기 아이템 개수

    // + 버튼 클릭 시 동작
    $(document).on("click", "#add-button", function() {
      itemCount++; // 아이템 개수 증가
      let newItem = $("#item").clone(); // 새로운 아이템 복제
      newItem.attr("id", "item-" + itemCount); // 아이템 ID 설정
      newItem.find("input[type='text']").val(""); // 입력 필드 초기화
      newItem.find("select").prop("selectedIndex", 0); // 셀렉트 박스 초기화
      if(itemCount === 2) {
        $("#item").after(newItem); // 복제한 아이템 추가
      } else {
        $("#item-" + (itemCount - 1)).after(newItem); // 복제한 아이템 추가
      }
    });

    // - 버튼 클릭 시 동작
    $(document).on("click", "#remove-button", function() {
      if (itemCount > 1) {
        $("#item-" + itemCount).remove(); // 해당 아이템 삭제
        itemCount--; // 아이템 개수 감소
      }
    });

    // 카테고리 동작
    $(document).on("change", "#selectedCategory", function() {
      const selectedValue = $(this).val();
      let subCategorySelect = $("#selectedSubCategory");

      // 중분류 selectbox 초기화
      subCategorySelect.empty();
      subCategorySelect.append($('<option>').text('-- 선택 --').attr('value', ''))

      // 선택된 대분류에 해당하는 중분류 옵션 추가
      categoryList.forEach(function(category) {
        if (category.categoryId != null && category.categoryId == selectedValue) {
          subCategorySelect.append($('<option>').text(category.name).attr('value', category.id));
        }
      });
    });

    // 상품 대표 이미지 업로드 input 요소
    const mainImgInput = $("#mainImg");
    // 상품 대표 이미지 업로드 img 요소
    const uploadMainImg = $('#uploadMainImg');

    // 상품 상세 이미지 업로드 input 요소
    const detailImgInput = $('#detailImg');
    // 상품 상세 이미지를 표시할 img 요소
    const uploadDetailImg = $('#uploadDetailImg');

    // 대표 이미지 업로드 input 변경 시 처리
    mainImgInput.on('change', function(event) {
      const file = event.target.files[0];

      if (file) {
        // 선택된 파일을 읽어와서 이미지 소스로 할당
        const reader = new FileReader();
        reader.onload = function(e) {
          uploadMainImg.attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }
    });

    // 상세 이미지 업로드 input 변경 시 처리
    detailImgInput.on('change', function(event) {
      const file = event.target.files[0];

      if (file) {
        // 선택된 파일을 읽어와서 이미지 소스로 할당
        const reader = new FileReader();
        reader.onload = function(e) {
          uploadDetailImg.attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }
    });

    //== 등록 요청 ==//
    $("#submitBnt").on("click", function() {
      const productData = {
        categoryId: $("#selectedSubCategory :selected").val(),
        name: $("#name").val(),
        status: null,
        price: parseInt($("#price").val()),
        productOptionList: []
      };

      // 상태값 적용
      const idList = ['sale', 'stop', 'soldOut'];
      for (const id of idList) {
        const value = $("#" + id).val();

        if (value) {
          productData.status = value; // 선택된 값을 대입
          break;
        }
      }

      const formData = new FormData();

      const mainImg = $("#mainImg")[0].files[0];
      formData.append("mainImg", mainImg);

      const detailImg = $("#detailImg")[0].files[0];
      formData.append("detailImg", detailImg);


      $("#items-container .item").each(function() {
        const color = $(this).find("input.color").val();
        const size = $(this).find("select.size").val();
        const stock = $(this).find("input.stock").val();

        // if (color && size && stock) {
          const optionData = {
            color: color,
            size: size,
            stock: parseInt(stock)
          };
          productData.productOptionList.push(optionData);
        // }
      });
      formData.append("productDto", JSON.stringify(productData));

      // validation check
      const errors = validateProductData(productData);
      const mainImgErrors = validateImage(mainImg);
      const detailImgErrors = validateImage(detailImg);

      if (errors.length > 0 ) {
        // 오류 메시지 출력
        duplicateName(name);
        const errorMessage = errors.join("\n");
        alert(errorMessage);
      }

      if(mainImgErrors.length > 0) {
        // 대표 이미지 오류 메시지 출력
        const mainImgErrorMessage = mainImgErrors.join("\n");
        alert(mainImgErrorMessage);

      } else if(detailImgErrors.length > 0) {
        // 상세 이미지 오류 메시지 출력
        const detailImgErrorMessage = detailImgErrors.join("\n");
        alert(detailImgErrorMessage);
      } else {

        $.ajax({
          type: "POST",
          url: "/admin/products/create",
          contentType: false,
          processData: false,
          enctype: 'multipart/form-data',
          data: formData,
          success: function (response) {
            console.log("Product created successfully!");
            window.location.href = "/admin/products";
          },
          error: function (error) {
            window.location.href = "/admin/error-page/500";
          }
        });
      }
    });
  });
</script>
</html>
