<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원상세관리</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../static/assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../../../static/assets/js/init-alpine.js"></script>
  </head>
  <body>
    <!-- 공통코드 인클루드 스크립트-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">   
      $(document).ready( function() {
        $("#sidebar").load("../../common/fragments/admin-sidebar.html");  // 원하는 파일 경로를 삽입하면 된다
        $("#header").load("../../common/fragments/admin-header.html");  // 원하는 파일 경로를 삽입하면 된다
      });
    </script>

    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen}"
    >
    <!-- 사이드바 -->
    <div id="sidebar"></div>
    <!-- 메인 -->
      <div class="flex flex-col flex-1 w-full">
        <!-- 헤더 -->
        <header id="header"></header>
      
        <!-- 테이블 시작 -->
        <main class="h-full pb-16 overflow-y-auto">
          <div class="container grid px-6 mx-auto">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              회원상세정보
            </h2>
            <!-- With avatar -->
          <div class="flex">
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              회원정보
            </h4>
          </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="pl-10 py-3" style="width: 10%;">아이디</th>
                      <th class="pl-10 py-3" style="width: 10%;">이름</th>
                      <th class="pl-10 py-3" style="width: 10%;">닉네임</th>
                      <th class="pl-10 py-3" style="width: 15%;">연락처</th>
                      <th class="pl-10 py-3" style="width: 15%;">이메일</th>
                      <th class="pl-10 py-3" style="width: 10%;">가입일</th>
                      <th class="pl-10 py-3" style="width: 8%;">신고</th>
                      <th class="pl-10 py-3" style="width: 10%;">회원상태</th>
                    </tr>
                  </thead>
                  <!-- 반복되는 테이블 -->
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="pl-10 py-3 text-sm">
                          <p class="font-semibold">test-123412</p>
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        한국영
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        asdsa1231232
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        010-1234-5678
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        test123214@gmail.com
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        2022-10-10
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        4회
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        <span
                          class="px-2 py-2 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                        >
                          회원
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="container grid px-6 mx-auto">
            <!-- With avatar -->
          <div class="flex">
          </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="pl-10 py-3" style="width: 20%;">주소</th>
                      <th class="pl-10 py-3" style="width: 15%;">비밀번호</th>
                      <th class="pl-10 py-3" style="width: 15%;">ROLE</th>
                      <th class="pl-10 py-3" style="width: 15%;">적립금</th>
                      <th class="pl-10 py-3" style="width: 15%;">누적 구매금액</th>
                    </tr>
                  </thead>
                  <!-- 반복되는 테이블 -->
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-10 py-3 text-sm">
                          <div>
                            <p class="font-semibold w-1">서울시 송파구 잠실동 123-4 101호</p>
                          </div>
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        a2**********
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        USER
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        3,000원
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        5,500,000원
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- 게시글 시작 -->
          <div class="container grid px-6 mx-auto">
            <h4
              class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
            >
              커뮤니티 게시글
            </h4>
            <!-- With avatar -->
          <div class="flex">
          </div>
            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="pl-10 py-3" style="width: 5%;">번호</th>
                      <th class="pl-10 py-3" style="width: 15%;">제목</th>
                      <th class="pl-10 py-3" style="width: 10%;">조회수</th>
                      <th class="pl-10 py-3" style="width: 10%;">좋아요</th>
                      <th class="pl-10 py-3" style="width: 10%;">신고</th>
                    </tr>
                  </thead>
                  <!-- 반복되는 테이블 -->
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-10 py-3 text-sm">
                        10
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        우리강아지 이뿌죠~?
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        10회
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        10개
                      </td>
                      <td class="pl-10 py-3 text-sm">
                        10회
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>  
        </main>
      </div>
    </div>
  </body>
</html>
