<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatDogPia</title>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/article.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/article-page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script th:inline="javascript">
        //접근 권한 설정
        document.addEventListener('DOMContentLoaded', async function loadPage() {
            const accessToken = localStorage.getItem("accessToken");
            const headers = {'Authorization': `Bearer ${accessToken}`};

            try {
                const response = await fetch('/authorize', {
                    method: 'GET',
                    headers: headers,
                });

                if (response.ok) {
                    const responseData = await response.json();
                    //게시글 작성자인지 확인
                    const writer = [[${article.member.nickname}]];
                    if (responseData.nickname === writer) {
                        document.getElementById("modifyAndDeleteButton").style.display = "block";
                    }

                    //댓글 작성자인지 확인
                    const commentWriters = document.querySelectorAll('#comment-list #commentWriter');
                    commentWriters.forEach(commentWriter => {
                        if (commentWriter.textContent.trim() === responseData.nickname) {
                            commentWriter.closest('li').querySelector('#modifyAndDeleteCommentButton').style.display = "block";
                        }
                    });

                    //좋아요 했는지 안 했는지 확인
                    if ([[${likeList}]].includes(responseData.nickname)) {
                        document.getElementById("like").style.display = "block";
                        document.getElementById("default").style.display = "none";
                    } else {
                        document.getElementById("unlike").style.display = "block";
                        document.getElementById("default").style.display = "none";
                    }

                    document.getElementById("article-report-part").style.display = "block";
                    const commentRepostParts = document.querySelectorAll('#comment-report-part');
                    commentRepostParts.forEach(commentRepostPart => {
                        commentRepostPart.style.display = "block";
                    });
                    document.getElementById("comment-form").style.display = "block";
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });
                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await loadPage(); // 원래 요청을 다시 시도
                    }
                }
            } catch (error) {
                console.error('오류:', error);
            }
        });

        //수정 페이지
        function goToEditPage() {
            window.location.href= `/community/[[${articleId}]]/edit`;
        }

        //삭제 확인 버튼 눌렀을 때
        async function checkButton() {
            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch(`/community/[[${articleId}]]/delete`, {
                    method: 'POST',
                    headers: headers
                });

                if (response.ok) {
                    alert('삭제되었습니다.');
                    window.location.href = "/community";
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await checkButton();
                    } else {
                        alert('권한이 없습니다.');
                    }
                } else {
                    alert("삭제 중에 오류가 발생했습니다.");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
            }
        }

        //댓글 등록
        async function postComment() {
            const commentContent = document.getElementById('commentText').value;

            if (commentContent === '') {
                alert('내용을 입력해주세요.');
                return;
            }

            const formData = new FormData();
            formData.append("content", commentContent);

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch(`/community/[[${articleId}]]/writeComment`, {
                    method: 'POST',
                    headers: headers,
                    body: formData
                });

                if (response.ok) {
                    alert('댓글을 등록했습니다.');
                    window.location.href=`/community/[[${articleId}]]`;
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await postComment();
                    } else {
                        alert('권한이 없습니다.');
                        window.location.href="/login";
                    }
                } else {
                    alert("내용을 입력해주세요");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
                window.location.href="/login";
            }
        }

        //댓글 수정
        async function updateComment() {
            const commentContent = document.getElementById("commentEditTextarea").value;
            const commentId = document.getElementById("commentIdText").value;

            if (commentContent === '') {
                alert('내용을 입력해주세요.');
                return;
            }

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            const formData = new FormData();
            formData.append("content", commentContent);
            formData.append("commentId", commentId);

            try {
                const response = await fetch("/community/editComment", {
                    method: 'POST',
                    headers: headers,
                    body: formData
                });
                if (response.ok) {
                    alert('댓글이 수정되었습니다.');
                    window.location.href = `/community/[[${articleId}]]`;
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await updateComment();
                    } else {
                        alert('권한이 없습니다.');
                    }
                } else {
                    alert("수정 중 오류가 발생했습니다.");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
            }
        }

        //댓글 삭제
        async function deleteComment() {
            const commentId = document.getElementById("commentIdTextDelete").value;

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            const formData = new FormData();
            formData.append("commentId", commentId);

            try {
                const response = await fetch("/community/deleteComment", {
                    method: 'POST',
                    headers: headers,
                    body: formData
                });
                if (response.ok) {
                    alert('댓글이 삭제되었습니다.');
                    window.location.href = `/community/[[${articleId}]]`;
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await deleteComment();
                    } else {
                        alert('권한이 없습니다.');
                    }
                } else {
                    alert("삭제 중 오류가 발생했습니다.");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
            }
        }

        //좋아요
        async function like() {
            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch(`/community/[[${articleId}]]/like`, {
                    method: 'POST',
                    headers: headers
                });

                if (response.ok) {
                    const responseData = await response.json();
                    if (responseData.result === "like") {
                        alert('회원님이 이 게시물을 좋아합니다.');
                    } else {
                        alert('이 게시물에 대한 좋아요를 취소했습니다.');
                    }
                    window.location.href=`/community/[[${articleId}]]`;
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await like();
                    } else {
                        alert('권한이 없습니다.');
                        window.location.href="/login";
                    }
                } else {
                    alert("오류");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
                window.location.href="/login";
            }
        }

        //게시글 신고
        async function reportArticle() {
            const content = document.getElementById("articleReportTextarea").value;
            const writer = document.getElementById("articleWriterId").value;

            if (content === '') {
                alert('신고 사유를 입력해주세요.');
                return;
            }

            const formData = new FormData();
            formData.append("content", content);
            formData.append("writerId", writer);

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch(`/community/[[${articleId}]]/report`, {
                    method: 'POST',
                    headers: headers,
                    body: formData
                });

                if (response.ok) {
                    alert('해당 게시글을 신고했습니다.');
                    cancelReportArticleModal();
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await reportArticle();
                    } else {
                        alert('권한이 없습니다.');
                        window.location.href="/login";
                    }
                } else {
                    alert("신고 사유를 입력해주세요");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
                window.location.href="/login";
            }
        }

        //댓글 신고
        async function reportComment() {
            const content = document.getElementById("commentReportTextarea").value;
            const writer = document.getElementById("commentReportWriterText").value;
            const commentId = document.getElementById("commentReportIdText").value;

            if (content === '') {
                alert('신고 사유를 입력해주세요.');
                return;
            }

            const formData = new FormData();
            formData.append("content", content);
            formData.append("writerId", writer);
            formData.append("commentId", commentId);

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch("/community/reportComment", {
                    method: 'POST',
                    headers: headers,
                    body: formData
                });

                if (response.ok) {
                    alert('해당 댓글을 신고했습니다.');
                    cancelReportCommentModal();
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await reportComment();
                    } else {
                        alert('권한이 없습니다.');
                        window.location.href="/login";
                    }
                } else {
                    alert("신고 사유를 입력해주세요");
                }
            } catch (error) {
                console.error('오류:', error);
                alert('권한이 없습니다.');
                window.location.href="/login";
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="articleDetail">
    <div class="main-part">
        <button id="mainBtn" onclick="window.location.href='/community'">목록</button>
    </div>
    <div class="titleText">
        <div class="titleLine">
            <h1 class="category" th:each="category : ${categoryList}"
                th:value="${category.id}"
                th:text="'[' + ${category.name} + ']'"
            th:if="${category.id == article.categoryId}">
            </h1>
            <h1 class="title" th:text="${article.title}">게시글 제목</h1>
        </div>
        <hr style="border: none; border-top: 2px solid #dddddd;">
    </div>
    <div class="titleTotal">
        <div class="contentHeader">
            <p id="writer" th:text="${article.member.nickname}">작성자 닉네임</p>
            <p id="createdAt" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일</p>
            <p id="viewCnt">조회 <span th:text="${article.viewCnt}">조회수</span></p>
        </div>
        <div class="report-part" id="article-report-part" style="display: none">
            <button class="reportBtn" onclick="showReportArticleModal()">신고</button>

            <!-- 글 신고 모달 -->
            <div id="reportArticleModal" class="modal">
                <div class="modal-content">
                    <p style="font-size: 20px; color: black">신고 사유를 입력해주세요.</p>
                    <input type="hidden" id="articleWriterId" th:value="${article.member.id}">
                    <textarea id="articleReportTextarea" rows="4" cols="50"></textarea>
                    <div class="reportArticleModalBtn">
                        <button id="articleReportButton" onclick="reportArticle()">신고</button>
                        <button id="cancelArticleReportButton" onclick="cancelReportArticleModal()">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "contentBody">
        <ul>
            <li th:each="attachDetail : ${article.attachDetailList}">
                <img th:src="${attachDetail.fileUrl}"/>
            </li>
        </ul>

        <p th:text="${article.content}">내용</p>

        <!-- 좋아요 -->
        <div class="like-part">
            <div class="unlike" style="display: none" id="unlike">
                <button class="icon-button" id="unlikeBtn" onclick="like()"><i class="bi bi-heart"></i></button>
            </div>
            <div class="like" style="display: none" id="like">
                <button class="icon-button" id="likeBtn" onclick="like()"><i class="bi bi-heart-fill"></i></button>
            </div>
            <div class="default" id="default">
                <i class="bi bi-heart-fill" id="default-heart"></i>
            </div>
            <p id="likeCntText" th:text="${article.likeCnt}">좋아요 수</p>
        </div>
    </div>
    <div id="modifyAndDeleteButton" style="display: none">
        <button id="editButton" onclick="goToEditPage()">글 수정</button>
        <button id="deleteButton" onclick="showModal()">글 삭제</button>

        <!-- 글 삭제 모달 -->
        <div id="confirmDeleteModal" class="modal">
            <div class="modal-content">
                <p>정말로 글을 삭제하시겠습니까?</p>
                <div class="deleteArticleModalBtn">
                    <button id="confirmDeleteButton" onclick="checkButton()">확인</button>
                    <button id="cancelDeleteButton" onclick="cancelButton()">취소</button>
                </div>
            </div>
        </div>
    </div>
    <div id="comment-section">
        <!-- 댓글 조회창 -->
        <p style="font-size: 30px; font-weight: bold; color: black">댓글</p>
        <hr style="border: none; border-top: 2px solid #dddddd;">
        <ul id="comment-list">
            <li th:each="comment : ${article.commentList}">
                <input type="hidden" id="commentId" th:value="${comment.id}">
                <div class="comment-all">
                    <div class="comment-left">
                        <div class="comment-writer">
                            <span id="commentWriter" th:text="${comment.member.nickname}">작성자</span><br>
                            <span id="separator"> | </span>
                            <div class="report-part" id="comment-report-part" style="display: none">
                                <button class="reportBtn" data-comment-writer="${comment.member.id}" th:attr="data-comment-writer=${comment.member.id},data-comment-id=${comment.id}" onclick="showReportCommentModal(this)">신고</button>

                                <!-- 댓글 신고 모달 -->
                                <div id="reportCommentModal" class="modal">
                                    <div class="modal-content">
                                        <p style="font-size: 20px; color: black">신고 사유를 입력해주세요.</p>
                                        <input type="hidden" id="commentReportIdText" th:value="${comment.id}">
                                        <input type="hidden" id="commentReportWriterText" th:value="${comment.member.id}">
                                        <textarea id="commentReportTextarea" rows="4" cols="50"></textarea>
                                        <div class="reportCommentModalBtn">
                                            <button id="commentReportButton" onclick="reportComment()">신고</button>
                                            <button id="cancelCommentReportButton" onclick="cancelReportCommentModal()">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="commentContent" th:text="${comment.content}">댓글 내용</span>
                    </div>
                    <div class="comment-right">
                        <div class="comment-date">
                            <span id="commentDate" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일자</span><br>
                        </div>

                        <div id="modifyAndDeleteCommentButton" style="display: none">
                            <button class="modifyDeleteBtn" data-comment-id="${comment.id}" data-comment-content="${comment.content}" th:attr="data-comment-content=${comment.content},data-comment-id=${comment.id}" onclick="commentUpdateModal(this)">댓글 수정</button>
                            <button class="modifyDeleteBtn" data-comment-id="${comment.id}" th:attr="data-comment-id=${comment.id}" onclick="commentDeleteModal(this)">댓글 삭제</button>
                        </div>
                    </div>
                </div>
                <hr>


                <!-- 댓글 수정 모달 -->
                <div id="commentModal" class="modal">
                    <div class="modal-comment-content">
                        <span class="close" id="closeModal" onclick="closeCommentUpdateModal()">&times;</span>
                        <h2>댓글 수정</h2>
                        <input type="hidden" id="commentIdText" th:value="${comment.id}">
                        <div class="comment-update-content">
                            <textarea id="commentEditTextarea" rows="4" cols="50"></textarea>
                            <button id="saveCommentButton" onclick="updateComment()">저장</button>
                        </div>
                    </div>
                </div>

                <!-- 댓글 삭제 모달 -->
                <div id="commentDeleteModal" class="modal">
                    <div class="modal-content">
                        <p>정말로 댓글을 삭제하시겠습니까?</p>
                        <input type="hidden" id="commentIdTextDelete" th:value="${comment.id}">
                        <div class="deleteCommentModalBtn">
                            <button id="commentDeleteButton" onclick="deleteComment()">확인</button>
                            <button id="cancelCommentDeleteButton" onclick="cancelCommentDeleteButton()">취소</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- 댓글 작성창 -->
        <form id="comment-form" style="display: none">
            <div class="comment-input">
                <textarea id="commentText" rows="4" cols="50" placeholder="댓글을 작성해주세요"></textarea>
                <button type="button" onclick="postComment()">댓글 등록</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>