<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CatDogPia</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
  <script src="/js/mypage.js"></script>
  <script src="/js/authentication-mypage.js"></script>
  <!-- 카카오 주소 API -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="add-address-container">
  <p>배송지 입력</p>
  <form id="addressForm">
  <table>
    <tr>
      <th>배송지명</th>
      <td><input class="address-input" name="addressName" placeholder="배송지명을 입력해주세요"></td>
    </tr>
    <tr>
      <th>수령인</th>
      <td><input class="address-input" name="name" placeholder="수령인 이름을 입력해주세요"></td>
    </tr>
    <tr>
      <th>휴대폰번호</th>
      <td><input class="address-input" name="phone" placeholder="-없이 번호만 입력해주세요"></td>
    </tr>
    <tr>
      <th>주소</th>
      <td>
        <input id="zipCode" name="zipCode" class="address-zipcode-input" placeholder="우편번호"><input type="button" onclick="execDaumPostcode()" class="btn-zipcode" value="우편번호 찾기"><br>
        <input id="address" name="address" class="address-input" placeholder="도로명주소"><br>
        <input id="detailAddress" name="detailAddress" class="address-input" placeholder="상세 주소를 입력해주세요">
        <div>
          <input type="checkbox" name="defaultAddress" value="Y"><label>기본 배송지 설정</label>
        </div>
      </td>
    </tr>
    <tr>
      <th>배송 요청사항 (선택)</th>
      <td><input class="address-input" name="request" placeholder="배송 요청사항을 입력해주세요"></td>
    </tr>
  </table>
    <button class="btn-mypage-submit" type="button" onclick="submitAddress()">등록</button>
  </form>

</div>
</div>
</body>
</html>