<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
</head>
<body>
<div class="add-pet-container">
    <form method="post">
        <input type="radio"><label>강아지</label>
        <input type="radio"><label>고양이</label>
        <br>
        <input placeholder="이름"><br>
        <input placeholder="견종/묘종"><br>
        <input placeholder="몸무게"><br>
        <button>등록</button>
    </form>
</div>
</div>
</body>
</html>