<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
    <script src="/js/mypage.js"></script>
</head>
<body>
<div layout:fragment="content" class="mypage-container">
    <th:block th:replace="~{common/fragments/mypage_category :: mypage-category}"></th:block>
    <table class="mypage-table mypage-address-table">
        <tr>
            <th width="15%">배송지명</th>
            <th width="10%">수령인</th>
            <th width="45%">주소</th>
            <th width="15%">연락처</th>
            <th width="15%"></th>
        </tr>
        <tr th:each="address : ${addressList}">
            <td>
                <div th:text="${address.addressName}"></div>
            </td>
            <td>
                <div th:text="${address.name}"></div>
            </td>
            <td>
                <div class="td-address">
                    <span class="default-address" th:if="${address.defaultAddress.toString().equals('Y')}">기본 배송지</span>
                    <div th:text="${address.address}"></div>
                </div>
            </td>
            <td>
                <div th:text="${address.phone}"></div>
            </td>
            <td>
                <button>수정</button>
                <button>삭제</button>
            </td>
        </tr>
    </table>
    <button type="button" onclick="openAddressPopup()">배송지 등록</button>
</div>


</body>
</html>