<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
    <script src="/js/mypage-article.js"></script>
    <script src="/js/mypage-article-list.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const allCheck = document.querySelector(".allCheck");
            const rowChecks = document.querySelectorAll(".rowCheck");

            allCheck.addEventListener("change", function () {
                const isChecked = allCheck.checked;
                rowChecks.forEach(rowCheck => {
                    rowCheck.checked = isChecked;
                });
            })
        })
    </script>
</head>
<body>
<div layout:fragment="content" class="mypage-container">
    <th:block th:replace="~{common/fragments/mypage_category :: mypage-category}"></th:block>
    <button class="btn-article-delete" onclick="deleteArticle()">선택한 글 삭제</button>
    <table class="mypage-table mypage-article-table">
        <thead>
        <tr>
            <th><input type="checkbox" class="allCheck"></th>
            <th width="15%">글번호</th>
            <th width="45%">제목</th>
            <th width="10%">조회수</th>
            <th width="10%">좋아요수</th>
            <th width="20%">작성일시</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>