<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
</head>
<body>
<div layout:fragment="content" class="mypage-container">
    <th:block th:replace="~{common/fragments/mypage_category :: mypage-category}"></th:block>
    <div class="exchange-reason">
        <p class="mypage-title">사유 선택</p>
        <p>구매자 책임 사유</p>
        <input type="radio"><label>단순 변심</label><br>
        <input type="radio"><label>다른 옵션 선택</label><br>
        <p>판매자 책임 사유</p>
        <input type="radio"><label>배송 지연</label><br>
        <input type="radio"><label>상품 등록 정보 오류</label><br>
        <input type="radio"><label>상품 파손</label><br>
    </div>
    <div class="exchange-address">
        <p>회수지 정보</p>
        <p>이름</p>
        <p>주소</p>
        <p>연락처</p>
        <button>회수지 변경</button>
    </div>
    <button>교환 및 환불 요청</button>
</div>
</div>
</body>
</html>