<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
    <script src="/js/mypage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div layout:fragment="content" class="mypage-container">
    <th:block th:replace="~{common/fragments/mypage_category :: mypage-category}"></th:block>
    <ul class="order-state">
        <li th:onclick="filterOrderStatus(null)">전체 0</li>
        <li th:onclick="filterOrderStatus('입금/결제')">입금/결제 0</li>
        <li th:onclick="filterOrderStatus('배송중')">배송중 1</li>
        <li th:onclick="filterOrderStatus('배송완료')">배송완료 5</li>
        <li th:onclick="filterOrderStatus('취소/교환/반품')">취소/교환/반품 1</li>
    </ul>
    <table class="mypage-table order-list-table">
        <tr>
            <th width="15%">주문일자</th>
            <th width="15%">주문번호</th>
            <th width="35%">상품정보</th>
            <th width="15%">주문금액(수량)</th>
            <th width="20%">주문 상태</th>
        </tr>
        <tr th:each="order : ${orderList}">
            <td th:text="${#temporals.format(order.orderAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td><a th:href="@{/mypage/order-detail/{orderId}(orderId=${order.id})}" th:text="${order.id}"></a></td>
            <td>
                <div th:text="${order.name}"></div>
                <div th:text="'옵션 : '+${order.size}+' / '+${order.color}"></div>
            </td>
            <td>
                <div th:text="${order.amount}"></div>
                <span th:text="'('+${order.quantity}+'개)'">(1개)</span></td>
            <td th:text="${order.orderStatus}">구매 확정 / 후기 작성</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>