<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css">
    <script src="/js/mypage.js"></script>
    <script src="/js/authentication-mypage.js"></script>
</head>
<body>
<div layout:fragment="content" class="mypage-container">
    <th:block th:replace="~{common/fragments/mypage_category :: mypage-category}"></th:block>
    <!--    <p class="mypage-title">리뷰 내역</p>-->
    <div class="review-box" th:each="review : ${reviewList}">
        <div class="content-box">
            <p th:text="${review.pname}">상품명</p>
            <p th:text="${review.size} + ' / ' + ${review.color}"></p>
            <div class="rating"><span th:text="${review.rating}"></span></div>
            <p th:text="${review.description}"></p>
            <p th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}"></p>
        </div>
        <div class="btn-and-img-box">
            <button type="button" th:onclick="|location.href='/mypage/review/${review.id}'|">수정</button>
            <button type="button" th:onclick="deleteReview([[${review.id}]])">삭제</button>
            <th:block th:if="${review.fileUrl != null}">
                <div class="img-box">
                    <img th:src="${review.fileUrl}">
                </div>
            </th:block>
        </div>
    </div>
    <div class="mypage-pagination" th:if="${reviewList.totalElements > 0}">
        <span th:if="${reviewList.hasPrevious()}">
            <a th:href="@{${'/mypage/review'}(page=0)}">
                <i class="fa fa-angle-double-left"></i>
            </a>
        </span>
        <span th:if="${reviewList.hasPrevious()}">
            <a th:href="@{${'/mypage/review'}(page=${reviewList.number - 1})}">
                <i class="fa fa-angle-left"></i>
            </a>
        </span>
        <span th:each="i : ${#numbers.sequence(0, reviewList.totalPages - 1)}">
            <span th:if="${reviewList.number == i}" th:classappend="${'current-page'}" th:text="${i + 1}"></span>
            <a th:if="${reviewList.number != i}" th:href="@{${'/mypage/review'}(page=${i})}"
               th:text="${i + 1}"></a>
        </span>
        <span th:if="${reviewList.hasNext()}">
            <a th:href="@{${'/mypage/review'}(page=${reviewList.number + 1})}">
                <i class="fa fa-angle-right"></i>
            </a>
        </span>
        <span th:if="${reviewList.hasNext()}">
            <a th:href="@{${'/mypage/review'}(page=${reviewList.totalPages - 1})}">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </span>
    </div>
</div>
</body>
</html>