.cart-container {
    width: 60%;
    margin: auto;
}

.cart-total-quantity {
    font-size: 20px;
    font-weight: bold;
    color: #99A799;
}

.btn-cart-delete {
    width: 130px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    border: 1px solid lightgray;
}

.cart-table {
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: center;
    border: 1px solid lightgray;
}

.cart-table .cart-p-box {
    display: flex;
    margin-left: 30px;
}

.cart-table .cart-pname-box {
    text-align: start;
}

.cart-table .sell .pname {
    color: black;
}

.cart-table .cart-pname-box .poption {
    margin-top: 5px;
    margin-bottom: 0;
}

.cart-table .sell .poption {
    color: gray;
}

.cart-table .cart-img-box {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    border: 1px solid lightgray;
}

.cart-table tr {
    border-bottom: 1px solid lightgray;
}

.cart-table tr:nth-child(1) {
    height: 50px;
}

.cart-table tr:not(:first-child) {
    height: 120px;
}

.cart-table tr td:nth-child(4) div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-table tr td:nth-child(4) p {
    margin-left: 5px;
    margin-right: 5px;
}

.cart-table button {
    width: 25px;
    height: 25px;
    background-color: #D3E4CD;
    border: none;
}

/*.cart-table tr:nth-last-child(1) {*/
/*    text-align: end;*/
/*}*/

/*.cart-table tr:nth-last-child(1) td {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    width: 100%;*/
/*}*/

.btn-cart-order {
    width: 100px;
    height: 35px;
    background-color: #D3E4CD;
    border: none;
}

.section-order-btn {
    width: 100%;
    text-align: center;
}


/* 품절 */
.sold-out span {
    font-weight: bold;
}

.sold-out .pname, .poption {
    color: lightgray;
}