h2 {
    font-weight: bold;
    color: #99A799;
}

.find-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

input {
    border: 1px solid #ADC2A9;
    width: 300px;
    height: 50px;
    padding: 10px 20px;
}

.textForm {
    margin: 10px;
}

.findBtn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    width: 300px;
    color: white;
    background-color: #D3E4CD;
    border: 1px solid #ADC2A9;
    font-weight: bold;
    margin: 10px;
}

.findBtn:hover {
    color: #D3E4CD;
    background-color: white;
}

.find-btn {
    color: white;
    background-color: #D3E4CD;
    border: 1px solid #ADC2A9;
    font-weight: bold;
    padding: 5px 10px;
    height: 50px;
}

.find-btn:hover {
    color: #D3E4CD;
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}