h2 {
    font-weight: bold;
    color: #99A799;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

input {
    border: 1px solid #ADC2A9;
    width: 300px;
    height: 50px;
    padding: 10px 20px;
}

.textForm {
    margin: 10px;
}

.loginBtn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    width: 300px;
    color: white;
    background-color: #D3E4CD;
    border: 1px solid #ADC2A9;
    font-weight: bold;
    margin: 10px;
}

.loginBtn:hover {
    color: #D3E4CD;
    background-color: white;
}

.kakao-login {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 10px;
}

.find {
    margin-left: 20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #99A799;
}

a:hover {
    text-decoration: none;
    color: #D3E4CD;
}

.separator {
    color: #ADC2A9;
}