.mypage-container {
    font-size: 14px;
}

.mypage-container {
    width: 60%;
    margin: auto;
}

/* 카테고리 */
.mypage-category {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px auto 50px auto;
    padding: 0;
    list-style: none;
}

.mypage-category li a {
    color: black;
    text-decoration-line: none;
}

.mypage-category li a:hover {
    text-decoration: underline #D3E4CD solid 5px;
}

/* 공통 사용 */
.mypage-table {
    width: 100%;
    margin: 0 auto 50px auto;
    text-align: center;
}

.mypage-table tr {
    height: 50px;
}

.mypage-table th {
    border-bottom: 3px solid #D3E4CD;
}

.mypage-table td {
    border-bottom: 1px solid #e5e3e3;
}

.mypage-table a {
    color: black;
}

.mypage-table a:hover {
    text-decoration: underline;
}

.mypage-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}


/* ======================================================================= */
/* 회원 정보 */
.member-info-box {
    margin-top: 50px;
    text-align: center;
}

.member-info-box .nickname {
    font-weight: bold;
    font-size: 30px;
}

.member-info-box .name {
    font-weight: bold;
    font-size: 15px;
}

.mypage-button {
    width: 90px;
    height: 30px;
    color: #545353;
    background-color: #D3E4CD;
    border: none;
    border-radius: 10px;
}

.mypage-box {
    margin-top: 70px;
}

.mypage-box hr {
    border: 2px solid #D3E4CD;
    margin: 10px 0 15px 0;
}

/* 프로필 수정 */
.edit-profile-container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.edit-profile-container form {
    width: 90%;
    margin: auto;
    text-align: center;
}

.edit-profile-container form div {
    text-align: start;
    margin-bottom: 15px;
}

.edit-profile-container form label {
    display: inline-block;
    width: 90px;
}

.edit-profile-container form input {
    width: 250px;
    height: 30px;
    border: 1px solid lightgray;
}


/* 펫 등록 */
.add-pet-container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.add-pet-container form {
    margin: auto;
    text-align: center;
}

/* 주문 처리 현황 */
.order-state-box table {
    margin: auto;
    text-align: center;
}

.order-state-box th {
    padding-top: 15px;
}

.order-state-box td {
    width: 150px;
    padding: 15px 0;
    font-size: 30px;
}

/* ======================================================================= */
/* 주문 내역 (order_list) */

ul.order-state {
    display: flex;
    justify-content: start;
    height: 40px;
    list-style: none;
    margin: 50px 0;
    overflow: hidden;
    white-space: nowrap;
}

ul.order-state li {
    height: 30px;
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #ADC2A9;
    border-radius: 30px;
    line-height: 28px;
}

.order-list-table td {
    height: 100px;
}

.order-list-table .td-order-status {
    display: flex;
}

.order-list-table .td-order-status {
    display: flex;
    align-items: center;
}

.order-list-table .td-order-status div:nth-child(1) {
    display: flex;
    width: 40%;
    justify-content: end;
}

.order-list-table .td-order-status div:nth-child(2) {
    display: block;
    width: 60%;
}

.order-list-table .td-order-status button {
    background-color: #f3f3f3;
    border: 1px solid lightgray;
}

/* ======================================================================= */
/* 주문 상세 (order_detail) */

.order-detail-ul {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.order-detail-ul li {
    margin-right: 10px;
}

.order-detail-ul li:nth-child(2) {
    margin-right: 50px;
}

/* ======================================================================= */
/* 적립금 (point) */

/* ======================================================================= */
/* 교환 및 환불 (exchange_refund) */

.exchange-address-table th {
    width: 120px;
    font-weight: normal;
}


/* ======================================================================= */
/* 배송지 관리 */
.td-address {
    display: flex;
    align-items: center;
}

.td-address span {
    margin-right: 15px;
    width: 100px;
    height: 30px;
    color: #99A799;
    font-weight: bold;
    border: 1px solid #99A799;
}


/* 배송지 등록 */
.add-address-container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.add-address-container p:nth-child(1) {
    font-size: 30px;
}

.add-address-container table tr {
    height: 50px;
}

.add-address-container table th {
    font-size: 14px;
    font-weight: bold;
}

.add-address-container table tr:nth-child(4) {
    height: 100px;
}

.add-address-container table tr:nth-child(4) th {
    vertical-align: top;
    padding-top: 20px;
}

.add-address-container table tr:nth-child(4) .address-input {
    margin-bottom: 10px;
}

.address-input {
    border: 1px solid lightgray;
    width: 250px;
    height: 30px;
    padding: 5px;
}

/* ======================================================================= */
/* 리뷰 관리 */
.review-box {
    display: flex;
    height: 130px;
}

.review-box .content-box {
    width: 80%;
}

.review-box .content-box p {
    margin: 5px 0;
}

.review-box .content-box p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.review-box .img-box {
    width: 20%;
    border: 1px solid lightgray;
}

/* ======================================================================= */
/* 게시글 관리 */
