<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatDogPia</title>
    <!-- JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="/js/findIdPw.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/find-page.css">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div layout:fragment="content" class="find-form">
    <div class="titleText">
        <h2>비밀번호 찾기</h2>
        <hr>
    </div>
    <br>
    <form action="/find/password" method="post" id="findPwForm">
        <div class="textForm">
            <input type="text" class="name" id="name" name="name" required placeholder="이름">
        </div>
        <div class="textForm">
            <input type="email" class="email" id="email" name="email" required placeholder="이메일">
            <button type="button" id="verifyBtn" class = "find-btn">인증</button>
        </div>
        <div class="textForm">
            <input type="text" id="verificationCodeInput" placeholder="인증번호">
            <button type="button" id="checkCodeBtn" class = "find-btn">확인</button>
        </div>
        <div class="findBtnDiv">
            <button type="button" class="findBtn">비밀번호 찾기</button>
        </div>
    </form>
</div>
</body>
</html>