<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatDogPia</title>
    <!-- JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="/js/findIdPw.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/find-page.css">
    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script>
        document.addEventListener('DOMContentLoaded', async function loadPage() {
            const body = document.getElementsByTagName("body");

            const accessToken = localStorage.getItem("accessToken");
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            try {
                const response = await fetch('/authorize', {
                    method: 'GET',
                    headers: headers,
                });

                if (response.ok) {
                    alert('이미 로그인중인 상태입니다.');
                    window.history.back();
                } else if (response.status === 401 || response.status === 403) {
                    const reissueResponse = await fetch('/reissue', {
                        method: 'POST',
                        credentials: 'same-origin' // 쿠키를 보내기 위해 필수
                    });

                    if (reissueResponse.ok) {
                        const reissuedData = await reissueResponse.json();
                        localStorage.setItem('accessToken', reissuedData.accessToken);
                        await loadPage(); // 원래 요청을 다시 시도
                    }
                } else {
                    window.history.back();
                }
            } catch (error) {
                console.error('오류:', error);
                window.history.back();
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content" class="find-form">
    <div class="titleText">
        <h2>아이디 찾기</h2>
        <hr>
    </div>
    <br>
    <form action="/find/id" method="post" id="findIdForm">
        <div class="textForm">
            <input type="text" class="name" id="name" name="name" required placeholder="이름">
        </div>
        <div class="textForm">
            <input type="email" class="email" id="email" name="email" required placeholder="이메일">
        </div>
        <div class="findBtnDiv">
            <button type="button" class="findBtn" id="findBtn" onclick="findId()">아이디 찾기</button>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModalButton" onclick="closeModal()">&times;</span>
                <p id="modalMessage"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>