<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!--

    TemplateMo 559 Zay Shop

    https://templatemo.com/tm-559-zay-shop

    -->
</head>

<body>
<!-- Start Top Nav -->

<!-- Close Top Nav -->


<!-- Header -->

<!-- Close Header -->

<!-- 검색창 Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <div class="col-md-4">
                <a th:href="@{/products/{id}(id=${mainCategory.getId()})}" class="product-link">
                    <h1 class="h2 pb-4" th:text="${mainCategory.getName()}">대분류명</h1>
                    <p id="mainId" th:text="${mainCategory.getId()}" hidden></p>
                </a>
            </div>
            <ul>
                <li class="pb-3" th:each="category : ${categoryList}">
                    <a th:href="@{/products/{parentId}/{id}(parentId=${category.getParentId()},id=${category.getId()})}" class="product-link">
                        <span th:text="${category.getName()}"></span>
                        <span id="categoryId" th:text="${category.getId()}" hidden></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li>
                            <form id="searchForm" onsubmit="return submitSearchForm()">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="검색어를 입력하세요">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">검색</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>

                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control" onchange="location = this.value;">
                            <option>높은 가격순</option>
                            <option>낮은 가격순</option>
                            <option>인기순</option>
                        </select>
                    </div>
                </div>
            </div>
            <div></div>
<!--            post start-->
            <div class="row">
                <div th:each="product : ${productList}" class="col-md-4">
                    <a th:href="@{/products/detail/{id}(id=${product.id})}" class="product-link">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" th:src="${product.thumbnailImage}" alt="Product Image">
                        </div>
                        <div class="card-body">
                            <div class="h3 text-decoration-none" th:text="${product.name}">Product Name</div>
                            <div class="h3 text-decoration-none" th:text="${product.price + '원'}">Product Price</div>
                            <div class="text-center mb-0">Review Counts</div>
                        </div>
                    </div>
                </a>
                </a>
            </div>

<!--            post end-->

            <!--페이징 시작    -->
                <div>
    <span th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage and categoryId != null}"
           th:href="@{/products/{parentId}/{id}(parentId=${mainCategory.getId()},id=${categoryId}, page=${page - 1}, search=${param.search})}"
           th:text="${page}" class="product-link">
        </a>
        <a th:unless="${page == nowPage or categoryId != null}"
           th:href="@{/products/{id}(id=${mainCategory.getId()}, page=${page - 1}, search=${param.search})}"
           th:text="${page}" class="product-link">
        </a>
        <strong th:if="${page == nowPage}" th:text="${page}" style="color: dimgrey"></strong>
    </span>
                </div>
                <!-- 페이징 끝-->
        </div>
    </div>
</div>
<!-- End Content -->

<!-- Start Footer -->

<!-- End Footer -->

<!-- Start Script -->
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
<!--    <script>-->
<!--        var categoryIdValue = "";  // 초기에는 빈 문자열로 설정-->

<!--        // categoryId 업데이트 함수-->
<!--        function updateCategoryId(selectedCategoryId) {-->
<!--            categoryIdValue = selectedCategoryId;-->

<!--            // Form action 업데이트-->
<!--            var mainIdValue = document.getElementById("mainId").textContent;-->
<!--            document.getElementById("searchForm").action = "/products/" + mainIdValue + "/" + categoryIdValue;-->

<!--            // 선택한 카테고리 표시를 업데이트 -->
<!--            var selectedCategoryName = document.querySelector(`a[data-category-id="${selectedCategoryId}"] span`).textContent;-->
<!--            document.getElementById("selectedCategory").textContent = selectedCategoryName;-->
<!--        }-->

<!--        // 폼 제출 시, 검색어가 자동으로 추가.-->
<!--        document.getElementById("searchForm").onsubmit = function() {-->
<!--            var searchValue = document.querySelector("#searchForm input[name='search']").value;-->

<!--            // 검색어가 없을 경우, 공백으로 설정-->
<!--            if (searchValue === null || searchValue === undefined) {-->
<!--                searchValue = '';-->
<!--            }-->

<!--            this.action += "?search=" + encodeURIComponent(searchValue);-->
<!--        };-->
<!--    </script>-->
    <script>
        function submitSearchForm() {
            var searchInput = document.getElementById('searchInput');
            var categoryId = searchInput.value.trim(); // 입력된 검색어 양 끝의 공백 제거

            // 입력된 검색어가 있다면 addSearchParam 함수 호출
            if (categoryId !== '') {
                addSearchParam(categoryId);
            } else {
                // 검색어가 입력되지 않은 경우, 공백을 넘겨줌
                addSearchParam(' ');
            }

            return false; // 폼 제출 막기
        }

        function addSearchParam(categoryId) {
            var currentUrl = new URL(window.location.href); // URL 객체를 사용하여 현재 페이지 URL 가져오기

            if (categoryId !== '') {
                // 검색어가 비어있지 않으면 search 파라미터 업데이트
                currentUrl.searchParams.set('search', categoryId);
            } else {
                // 검색어가 비어있는 경우 search 파라미터 제거
                currentUrl.searchParams.delete('search');
            }

            // 페이지 번호를 1로 설정
            currentUrl.searchParams.set('page', '0');

            // 업데이트된 URL로 이동
            window.location.href = currentUrl.toString();
        }
    </script>
<!-- End Script -->
</body>

</html>